.App-body {
  border: 1px solid rgba(255, 255, 255, 0.507);
  height: 7vh;
}
.App-container{
  margin-left: 13%;
  margin-right: 5%;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 1rem; 
} 
h4{
  color: black;
}
.App-header  {
  background-color: #282c34;
  height: 100%;
  width: 6%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  transition: 0.9s;
}

.App-menu{
 float: right;
 margin-right: 9%;
}
.App-icons{
  margin-left: 3%; 
  font-size: 34px;
  padding: 0px 15px;
  color: rgb(202, 200, 200);
}

.Transition{
  width: 0%;
  transition: 0.5s;
}

.App{
  background-color: rgb(224, 224, 224);
  height: 100vh;
  overflow-x: hidden;
}
p{
  cursor: pointer;
}
div ul {
  list-style: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 0;
  cursor: pointer;
 }
div ul li {
  display: inline;
  white-space: nowrap;
}
div ul li::before {
  padding: 1vh;
  content: " | ";
}
.App-active{
 color: #d3c560;
}
.App-drivers{
  color: #d3c560;
}
.App-hide{
  display: none;
}
.App-show{
  display: block;
}
.card {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 1rem;
  height: 15rem;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
}
.App-Details{
  font-size: 18px;
  margin-top: 1vh;
}
.App-Details2{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  height: 40%;
  overflow: scroll;
  overflow-x: hidden;
}

.card2 {
  align-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 17rem;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;  
}
.card2:hover, .card:hover{
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}
.cards {
  max-width: 1200px;
  display: grid;
  grid-gap: 2rem;
}
.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}
.images2{
  height: 10rem;
  width: 100%;
}
.images{
 height: 10rem;
 width: 70%;
}
@media (max-width: 800px) {
  .cards { grid-template-columns: repeat(2, 1fr);  grid-gap: 4rem;}
 .card{
  height: 12rem;
  margin-left: -20%;
 }
 .App-menu{
  font-size: 19px;
 } 
 .App-header  {
  width: 15%;
  }
  .App-modal-content{
    width:61.8%;
    height: 49.2%;
  }
  .App-icons{
    font-size: 40px;
  }
  .card2{
    height: 17rem;
    font-size: 25px;
    margin-left: -17%;
   }
   .App-button{
    width: 31vw;
  }
  .App-button2{
    width: 30.7vw;
  }
  .App-buttons{
    display: block;
    margin-top: 13%;
  }
}

.App-buttons{
  display: block;
}
@media (max-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); grid-gap:2rem}
  .card{
    height: 12rem;
    font-size: 25px;
    margin-left: -12%;
   }
   .card2{
    height: 17rem;
    font-size: 25px;
    margin-left: -11%;
   }
   .App-buttons{
    padding-top: 68%
  }
   .App-menu{
    margin-right: 6%;
    font-size: 13px;
   } 
   .App-header  {
    width: 29%;
    transition: 0.5s;
  }
  .App-modal-content{
    width:79%;
    height: 70%;
  }
  .App-Details2{
    font-size: 12px;
  }
  .App-icons{
    font-size: 31px;
  }
  .App-button{
    width: 39.2vw;
  }
  .App-button2{
    width: 39.2vw;
  }
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
  .App-modal-content{
    width:28%;
    height: 65%;
  }
  .App-modal-content2{
    width:50%;
    height: 75%;
  }
  .App-button{
    width: 13.9vw;
  }
  .App-button2{
    width: 14vw;
  }
}
.App-buttons{
  margin-top: -5%;
}
.App-button{
  background-color: green;
  height: 6vh;
  color: white;
}
.App-button2{
  height: 6vh;
  background-color: rgb(204, 18, 18);
  color: white;
}
.iconColors{
  color: #40b99d;
}
.App-image{
  height:120%;
  text-align: center;
  align-content: center;
  align-items: center;
}
.App-image2{
  height: 54%;
}
.App-align{
  height:100%;
  text-align: center;
  align-content: center;
  align-items: center;
}
.App-align2{
  height:125%;
  text-align: center;
  align-content: center;
  align-items: center;
}
.App-modal{
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  padding-top: 80px;
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0,0,0,0.4);
}
.Help-modal{
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  padding-top: 100px;
  position: fixed;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0,0,0,0.4);
}
.App-modal-content2{
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  height: 70%;
  width: 70%;;
}
.App-modal-content{
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
}
.App-close{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.App-close,
.App-close{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.menu{
  font-size:30px;
  cursor:pointer;
  float: left;
}

.x, .y, .z, .driverStats, .tripStats, .deliveryStats{
  display: none;
}

.ShowDriverStats{
  display: block;
}

.Editbtn{
  text-align: center;
}